<!DOCTYPE html>
<html>
<head>
  <title>Mobile</title>
  
  <!-- Imports General CSS and jQuery CSS -->
	<link href="/stylesheets/screen.css" rel="stylesheet" media="screen" type="text/css" />
	<link href="/stylesheets/fixed.css" rel="stylesheet" media="screen" type="text/css" />
	
	<!-- IE Stylesheet ie7 - Added in 1.2 -->
	<!--[if lt IE 8]><html lang="en" class="ie7"><![endif]-->
	
	<!-- IE Stylesheet ie8 - Added in 1.1 -->
	<!--[if IE 8 ]><html lang="en" class="ie8"><![endif]-->
	
	<!-- CSS for Theme Styles -->
	<link href="/stylesheets/theme/custom.css" rel="stylesheet" media="screen" type="text/css" />
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  
  <!-- IE Canvas Fix for Visualize Charts - Added in 1.1 -->
	<!--[if IE]><script type="text/javascript" src="/javascripts/excanvas.js"></script><![endif]-->
	
	<!-- jQuery thats loaded before document ready to prevent flickering - Rest are found at the bottom -->
	<script type="text/javascript" src="/javascripts/jquery.cookie.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.visualize.js"></script>

</head>
<body>

<!-- Start: Page Wrap -->
<div id="wrap" class="container_24">
	
	
	<!-- Header Grid Container: Start -->
	<div class="grid_24">
		
		<!-- User Panel: Start -->
		<div id="userpanel">
			
			<!-- User: Start -->
			<ul id="user" class="dropdown right">
				<li class="topnav">
					<!-- User Name -->
					<a href="#" class="top icon user">Administrator</a>
					
					<!-- User Dropdown Content: Start -->
					<ul class="subnav">  
	            <li><a href="#" class="icon settings">Einstellungen</a></li>
	            <li><a href="#" class="icon lock">Ausloggen</a></li>  
	        </ul>  
	        <!-- User Dropdown Content: End -->
				</li>
			</ul>
			<!-- User: End -->
			
		</div>
		<!-- User Panel: End -->
		
		<!-- Header: Start -->
		<div id="header">
				
			<!-- Logo: Start -->
			<a href="dashboard.html" id="logo">Simplpan - Admin Panel</a>
			<!-- Logo: End -->
			
			<!-- Navigation: Start -->
			<ul id="navigation" class="dropdown">
				<li><a class="settings" href="#">Einstellungen</a></li>	
			</ul>
			<ul id="navigation" class="dropdown">
				<li><a class="users active" href="#">Kunden</a></li>	
			</ul>
			<ul id="navigation" class="dropdown">
				<li><a class="dashboard" href="#">Dashboard</a></li>	
			</ul>
			<!-- Navigation: End -->
			
		</div>
		<!-- Header: End -->
		
		<!-- Breadcrumb Bar: Start -->
		<%= render 'layouts/breadcrumb' %>
		<!-- Breadcrumb Bar: End -->
		
	</div>
	<!-- Header Grid Container: End -->

<%= yield %>

  <!-- Footer Grid: Start -->
  <div class="grid_24">
  
  	<!-- Footer: Start -->
  	<div id="footer">
  		
  		<p class="left">
  			Copyright &#169; 2011 <a href="#">innocube</a>
  		</p>
  		
  		<!-- Footer Icon Navigation: Start -->
  		<ul class="right">
  			<li><a href="#" class="icon dashboard tip" title="Dashboard">Dashboard</a></li>
  			<li><a href="#" class="icon users tip active" title="Kunden">Kunden</a></li>
  			<li><a href="#" class="icon settings tip" title="Einstellungen">Einstellungen</a></li>
  			<li><a href="#" class="icon home tip" title="Nach oben">Home</a></li>
  		</ul>
  		<!--Footer Icon Navigation: End -->
  		
  	</div>
  	<!-- Footer: End -->
  	
  </div>
  <!-- Footer Grid: End -->

</div>
<!-- End: Page Wrap -->

	<!-- jQuery libs - Rest are found in the head section (at top) -->
	<script type="text/javascript" src="/javascripts/jquery.visualize-tooltip.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-animate-css-rotate-scale.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.poshytip.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.quicksand.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.facebox.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="/javascripts/syntaxHighlighter/shCore.js"></script>
	<script type="text/javascript" src="/javascripts/syntaxHighlighter/shBrushXml.js"></script>
	<script type="text/javascript" src="/javascripts/syntaxHighlighter/shBrushJScript.js"></script>
	<script type="text/javascript" src="/javascripts/syntaxHighlighter/shBrushCss.js"></script>
	<script type="text/javascript" src="/javascripts/syntaxHighlighter/shBrushPhp.js"></script>
	<script type="text/javascript" src="/javascripts/fileTree/jqueryFileTree.js"></script> <!-- Added in 1.2 -->
	
	<!-- jQuery Customization -->
	<script type="text/javascript" src="/javascripts/custom.js"></script>

</body>
</html>
